*.pyc
/Better/spectHR/__pycache__
/Better/spectHR/ui/__pycache__
/Better/spectHR/Plots/__pycache__
/Better/spectHR/ui/__pycache__
/Better/spectHR/ui/__pycache__
*/.ipynb_checkpoints
*/__pycache__
/Development/Example Data
/Development/Data
/Development/cache
/Development/cache
/Development/cache
